<a href='#' ng-click="logout()">logout</a>
<div class="row">
  <div class="col-md-8">
    <div class="log">
      <h3>Supervisor main log</h3>
      <div class="message" ng-bind-html="message"></div>
      <hr />
      <div class="newMessage" ng-bind-html="newMessage"></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="supervisor-status">
      <h3>Supervisor status</h3>
      <p>Check <span ng-show="timer">+++</span></p>
      <a class="btn btn-default" ng-click="refreshStatus()">Refresh</a>
      <a id="columby" class="btn btn-default" ng-click="start($event)">Start</a>
      <a class="btn btn-default" ng-click="stop()">Stop</a>
    </div>
  </div>
</div>