<div class="login container">

  <div class="row form-login" ng-hide="$root.user.isAuthenticated">
  <div class="col-md-5 col-md-offset-3">
    <h1>Inloggen</h1>

    <div class="panel">
      
      <form novalidate class="form" name="form">
         <div class="form-group">
          <label class="control-label" for="username">Gebruikersnaam</label>
          <input class="form-control" type="text" name="username" id="username" required ng-model="credentials.username", autofocus ng-model="credentials.name"/>
          <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">Geen gebruikersnaam ingevuld</span>
        </div>

        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input type="password" class="form-control" id="password" ng-model="credentials.password" required>
        </div>

        <button type="submit" class="btn btn-default" ng-click="login()" ng-disabled="form.$invalid">Inloggen</button>
        <p><a href="#/user/password">Wachtwoord vergeten? </a></p>
      
      </form> 
    </div>
  </div>
</div>

<div class="row form-login-already" ng-show="$root.user.isAuthenticated">
  <h1>Inloggen</h1>
  <p>Beste {{$root.user.user.name}}, je bent al ingelogd. </p>
</div>
</div>